<% /* global, additionalScripts */ %>

<footer class="footer">
  <div class="footer__content">
    A&K
    <hr>
    08.06.2025
  </div>
</footer>
<script src="/public.js"></script>
<% if (typeof additionalScripts !== 'undefined' && Array.isArray(additionalScripts)) { %>
  <% additionalScripts.forEach((scriptUrl) => { %>
    <script src="<%= scriptUrl %>"></script>
  <% }) %>
<% } %>