<!-- views/partials/header.ejs -->
<header class="header">
  <img
    alt="AK"
    class="header__initials"
    src="/images/initials.png"
   >
  <h1><%= title %></h1>
  <span>08.06.2025 • godz. 14:00 • Hotel Trylogia, Zielonka</span></br>
  <span>Pozostało <span id="header__counter"></span>dni!</span>
  <nav class="header__nav">
    <a href="/" class="header__link">Home</a>
    <a href="/history" class="header__link">Nasza historia</a>
    <a href="/photos" class="header__link">Zdjęcia</a>
  </nav>
</header>
<main class="main">
