<% /* global body */ %>

<!DOCTYPE html>
<html lang="pl">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>

        <main class="main">
            <%- body %>
        </main>

        <%- include('../partials/footer') %>
    </body>
</html>
