 <section>
    <h2 class="text-center">Nasza historia w skrócie</h2>
      <div class="timeline">
        <ul>
          <li>
            <div class="timeline-content">
              <h3>Początek</h3>
              <p></p>
              <img class="timeline-image" src="/images/1.jpeg" alt="AK">
            </div>
            <div class="time">
              <h4>08.06.2017</h4>
            </div>
          </li>
          
          <li>
            <div class="timeline-content">
              <h3>Pierwsza rocznica</h3>
              <p></p>
              <img class="timeline-image" src="/images/2.jpeg" alt="AK">
            </div>
            <div class="time">
              <h4>08.06.2018</h4>
            </div>
          </li>
          
          <li>
            <div class="timeline-content">
              <h3>Druga rocznica</h3>
              <p></p>
              <img class="timeline-image" src="/images/3.jpeg" alt="AK">
            </div>
            <div class="time">
              <h4>08.06.2019</h4>
            </div>
          </li>
          
          <li>
            <div class="timeline-content">
              <h3>Trzecia rocznica</h3>
              <p></p>
              <img class="timeline-image" src="/images/4.jpeg" alt="AK">
            </div>
            <div class="time">
              <h4>08.06.2020</h4>
            </div>
          </li>
          
          <li>
            <div class="timeline-content">
              <h3>Czwarta rocznica</h3>
              <p></p>
              <img class="timeline-image" src="/images/5.jpeg" alt="AK">
            </div>
            <div class="time">
              <h4>08.06.2021</h4>
            </div>
          </li>
          
          <li>
            <div class="timeline-content">
              <h3>Piąta rocznica</h3>
              <p></p>
              <img class="timeline-image" src="/images/6.jpeg" alt="AK">
            </div>
            <div class="time">
              <h4>08.06.2022</h4>
            </div>
          </li>
          
          <li>
            <div class="timeline-content">
              <h3>Szósta rocznica</h3>
              <p></p>
              <img class="timeline-image" src="/images/7.jpeg" alt="AK">
            </div>
            <div class="time">
              <h4>08.06.2023</h4>
            </div>
          </li>

          <li>
            <div class="timeline-content">
              <h3>Siódma rocznica</h3>
              <p></p>
              <img class="timeline-image" src="/images/8.jpeg" alt="AK">
            </div>
            <div class="time">
              <h4>08.06.2024</h4>
            </div>
          </li>

          <li>
            <div class="timeline-content">
              <h3>Ślub!</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            </div>
            <div class="time">
              <h4>08.06.2025</h4>
            </div>
          </li>
        </ul>
        <div style="clear:both;"></div>
      </div>
  </section>
