<!-- views/index.ejs -->
<html lang="pl">
  <head>
    <%- include('partials/head') %>
  </head>
<body>
  <%- include('partials/header') %>

  <section>
    <div class="info">
      <div class="info__date">
        08 czerwca 2025<br>
        14:00
      </div>
      <div class="info__separator"></div>
      <div class="info__place">
        Hotel Trylogia<br>
        <small class="info__address">
          <a href="https://maps.app.goo.gl/bEVTDPdrgLCJJyRdA" target="_blank">Zobacz na mapie</a>
        </small>
      </div>
    </div>
  </section>
  <section class="description text-center">
    <h2>Pobieramy się!</h2>
    <span>
      Z tej okazji chcielibyśmy zaprosić was na nasz ślub oraz wesele, które odbędzie
      się 08 czerwca 2025 roku o godzinie 14:00 w Hotelu Trylogia (Zielonka).
    </span>
  </section>

  <!-- Wstawiamy komponent stopki -->
  <%- include('partials/footer') %>
</body>
</html>
