<% /* global error */ %>

<section class="login">
    <h2 class="text-center">Logowanie</h2>
    <% if (error) { %>
        <p style="color:red"><%= error %></p>
    <% } %>
    <form
        class="login__form"
        method="POST"
        action="/login"
    >
        <label>
            Hasło:
            <input type="password" name="password" required placeholder="Wprowadź hasło" />
        </label>
        <button type="submit">Zaloguj</button>
    </form>
</section>
