<html>
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/gallery.css">
</head>
<body>
<%- include('partials/header') %>

<section>
    <h2 class="text-center">Logowanie</h2>
    <% if (error) { %>
        <p style="color:red"><%= error %></p>
    <% } %>
    <form method="POST" action="/login">
        <input type="password" name="password" required placeholder="Hasło" />
        <button type="submit">Zaloguj</button>
    </form>
</section>

<!-- Wstawiamy komponent stopki -->
<%- include('partials/footer') %>
</body>
</html>
