<% /* global error */ %>

<section class="login">
    <h2 class="text-center">Logowanie</h2>
    <form
        class="login__form"
        method="POST"
        action="/login"
    >
        <label>
            Hasło:
            <input type="password" name="password" required placeholder="Wprowadź hasło" />
        </label>
        <button type="submit">Zaloguj</button>
    </form>
    <% if (error) { %>
        <div class="error-message">
            <span><%= error %></span>
        </div>
    <% } %>
</section>
