.gallery {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    height: auto;
    max-width: 200px;
    border-radius: 8px;
}

.photos .form {
    padding: 10px;
}
