html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  color: #424C3A;
  font-size: 1.4rem;
  font-family: "Cormorant SC", serif;
  background-color: rgb(250, 246, 239);
}

button, input::file-selector-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  background: #6E6D70;
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.1), inset 0 0.5px 0.5px rgba(255, 255, 255, 0.5), 0 0 0 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:focus, input:focus::file-selector-button {
  box-shadow: inset 0 0.8px 0 -0.25px rgba(255, 255, 255, 0.2), 0 0.5px 1px rgba(0, 0, 0, 0.1), 0 0 0 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

button:hover, input:hover::file-selector-button {
  cursor: pointer;
  background: #7F7E81;
}

input[type="text"], input[type="password"] {
  padding: 7px;
  border-radius: 6px;
  font-size: 16px;
  background: #fbfbfb;
  border: 2px solid transparent;
  height: 36px;
  box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
  :focus{
    border: 2px solid #000;
    border-radius: 4px;
  }
}

/* General */
.text-center {
  text-align: center;
}

.error-message {
  color: red;
  text-align: center;
}

.content {
  max-width: 1048px;
  margin: 0 auto;
}

/* Main */
.main {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1048px;
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .header__initials {
      width: 260px;
  }
}

/* Footer */

.footer {
  padding-bottom: 30px;
  .footer__content {
    width: 100px;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    min-width: fit-content;
  }
}

/* Header */
.header {
  .header__nav {
    gap: 20px;
    display: flex;
    margin-top: 15px;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    .header__link, .header__link:visited {
      color: #424C3A;
      padding: 5px 0;
      transition: .3s;
      font-weight: 700;
      font-size: 1.2rem;
      text-decoration: none;
      border-bottom: 1px solid transparent;
    }
    .header__link:hover {
      border-bottom-color: #424C3A;
    }
  }
}

/* Homepage */
.info {
  display: flex;
  margin: 0 auto;
  max-width: 500px;
  font-size: 1.8rem;
  text-align: center;
  padding: 20px 10px;
  justify-content: space-between;
  .info__separator {
    width: 1px;
    opacity: .5;
    background-color: #424C3A;
  }
  .info__address {
    margin-top: 5px;
    font-size: 1.2rem;
    display: inline-block;
  }
}

.description {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 15px;
}

/* login */
.login {
  margin-bottom: 50px;
  .login__form {
    gap: 10px;
    display: flex;
    justify-content: center;
  }
}
